body{
    background-color: #3540A6;
    text-align: center;
}
h1{
    color: #F9F3ED;
    align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
    font-size: 80px;
    text-shadow: 5px 5px #444444;
}
