body{
    background-color: #E36283;
    text-align: center;
}
h1{
    color: #F9F3ED;
    align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
    font-size: 80px;
    text-shadow: 5px 5px #444444;
}
a {
    background: #B04C65;
    background-image: -webkit-linear-gradient(top, #B04C65, #D95D7C);
    background-image: -moz-linear-gradient(top, #B04C65, #D95D7C);
    background-image: -ms-linear-gradient(top, #B04C65, #D95D7C);
    background-image: -o-linear-gradient(top, #B04C65, #D95D7C);
    background-image: -webkit-gradient(to bottom, #B04C65, #D95D7C);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Times New Roman;
    font-size: 50px;
    font-weight: 100;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: inset -4px -4px 20px 0 #000000;
    -moz-box-shadow: inset -4px -4px 20px 0 #000000;
    box-shadow: inset -4px -4px 20px 0 #000000;
    text-shadow: 8px 8px 20px #000000;
    border: solid #D59BA9 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
a:hover {
    background: #E36282;
    background-image: -webkit-linear-gradient(top, #E36282, #F06789);
    background-image: -moz-linear-gradient(top, #E36282, #F06789);
    background-image: -ms-linear-gradient(top, #E36282, #F06789);
    background-image: -o-linear-gradient(top, #E36282, #F06789);
    background-image: -webkit-gradient(to bottom, #E36282, #F06789);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }