a{
    text-decoration: none;
    color: #2BD6D5; 
 }
 a:hover{
    color: #0e7275;
 }
 .intro{
    color: white;
 }
 .smaller-caption{
     font-size: 10px
 }
 .caption{
     font-size: 12px;
 }
 .leftbox{
     position: absolute;
     left: 30px;
 }
 .desc {
    box-sizing: border-box;
      float: left;
      width: 50%;
    }
 .middlebox{
     position: absolute;
     text-align: center;
 }
 .rightbox{
     position: absolute;
     right: 30px;
 }
.unity-button{
    width:90%;
     transition: all .15s ease-in-out; 
     border-radius:20px;
     box-shadow: 10px 10px 5px rgb(62, 61, 61);
}
.unity-button:hover{
    transform: scale(1.05);
}

.py {
    float: right;
    margin-right:30px;
}
.un{
float: left;
margin-left:30px;
}
 mark{
     background-color: rgb(207, 10, 165);
     color: white;
 }
 
 .highlights{
     display:inline-block;
     position:relative;
 }
 .myGithub{
    display: flex;
    flex-flow: column;
    height: 100%;
     background-color: #3540A6;
 }
 .highlights{
     background-color: #3837D4;
 }
 .intro{
     display: flex;
     flex-flow: column;
     height: 100%;
     background-color: #192169;
     display:inline-block;
     position:relative;
     width: 100%;
 }
 .column {
 float: left;
 width: 50%;
 padding: 5px;
 }
 .column2 {
    width: 30%;
    padding: 5px;
    }
 body{
     height: 100%;
     margin: 0;
 }
 
 .row::after {
 content: "";
 clear: both;
 display: table;
 }
 .row {
 display: flex;
 }
 
 
 #leftbox {
     float:left; 
     width:25%;
     height:280px;
     color:white;
     margin:50px;
 }
 #rightbox{
     float:right;
     width:25%;
     height:280px;
     color:white;
     margin:10px;
 }
 .fa-discord{
     background-color: #5865F2;
 }
 .fa-twitter{
     background-color: #00ACEE;
 }
 .contact {
     transition: all .15s ease-in-out; 
     font-size: 30px;
     padding: 20px;
     border-radius: 18px;
     box-sizing: border-box;
     text-shadow: 4px 4px black;
     outline: black;
   }
 .fa-google-play{
     background-color:#333231;
     color:white;
 }
 .fa-github{
     background-color: #27272A;
 }
 .fa-envelope{
     background-color: red;
 }
 .fa-linkedin{
     background-color: #0072b1
 }
 .contact:hover {
     transform: scale(1.2); 
 }
 
 .image-container {
    display: flex;
  }
  
  .image-wrapper {
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius:20px;
     box-shadow: 10px 10px 5px rgb(62, 61, 61);
  }
  
  .image-wrapper img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    
  }
  
  .image-wrapper:hover img {
    transform: scale(1.2);
  }
  
  .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .description {
    text-align: center;
    margin-top: 20px;
  }
  .video-container {
    display: flex;
    justify-content: space-between;
    border-radius:15px;
  }

  .video {
    width: 48%; /* Adjust the width as needed */
    margin: 0;
  }






 nav {
      white-space: nowrap;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #333;
    }

    button {
      display: inline-block;
      padding: 14px 20px;
      margin: 0 10px;
      color: #fff;
      background-color: #555;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #777;
    }

